.App {
  padding-top: 30px;
  font-family: sans-serif;
  text-align: center;
}

.container {
  padding-bottom: 10px;
}

.label {
  font-size: 18px;
  padding: 10px;
}

.options {
  font-size: 15px;
}

.spacing {
  padding-left: 3px;
}

.button {
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
